body{

background:#0f1115;

color:white;

font-family:Arial;

text-align:center;

margin:0;

}

header{

background:#161b22;

padding:30px;

}

nav a{

margin:10px;

color:#58a6ff;

text-decoration:none;

}

.hero{

padding:80px;

}

.robot{

width:120px;

animation:float 3s infinite;

}

@keyframes float{

0%{transform:translateY(0)}

50%{transform:translateY(-15px)}

100%{transform:translateY(0)}

}

.slider img{

width:70%;

border-radius:10px;

display:none;

}

.slider img:first-child{

display:block;

}

.card{

background:#1a1f2b;

padding:20px;

margin:20px auto;

width:300px;

border-radius:10px;

}

.btn{

display:inline-block;

padding:10px 20px;

background:#238636;

color:white;

text-decoration:none;

border-radius:6px;

margin:5px;

}

.terminal{

background:black;

color:#00ff88;

font-family:monospace;

padding:20px;

width:400px;

margin:auto;

text-align:left;

}

.light{

background:white;

color:black;

}

.light .card{

background:#f0f0f0;

}